
{{#if place}}


<h3>{{place.name}}</h3>
  <h5>
    {{#if place.city}}
      {{place.city}},
    {{/if}}
    {{place.country}}</h5>



<h4>Average monthly temperature</h4>
<div id="chart"></div>

{{/if}}
