.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-default.transparent {
    background-color: transparent;
    border: 0px;
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-fixed-top {
      position: fixed;
}
.navbar-fixed-top.scrolled {
  background-color: #72A09B;
//  background-image: url('../images/willian-justen-de-vasconcellos-499722-unsplash.jpg');
  transition: background-color 200ms linear;
}


.btn-nav {
  background-color: transparent;
  border: solid 1px #fff;
  color: #fff;
}

.btn-nav:hover, .btn-nav:active {
  background-color: #fff;
  color: #333;
}
